html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
  /****************************/   
 /* Стили для Главной станици*/
/****************************/
.article{
  float: left;
  color: white;
  background-color:  gray;
  position: relative;
  margin-top: 1%;
  margin-left: 12%;
  margin-right: 12%;
  height: 180px;
  width: 76%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  box-sizing: border-box;
  border-radius:12px;
  opacity: 0.9;
  border: 1px solid silver;
}
.submit_article{
  position: absolute;
  text-decoration: none;
  font: "Times New Roman", Sans-serif;
  float: left;
  background-color: blue;
  height:25px;
  width: 80px;
  left: 10px;
  bottom: 10px;
  border-radius: 16px;
}
.submit_article:hover{
  background-color: darkblue;
  transition:all .4s ease;
  -moz-transition:all .4s ease;
  -webkit-transition:all.4s ease;
  -ms-transition:all.4s ease;
  cursor: pointer;
}
.fa{
  color: white;
  margin-left:6px;
  margin-top: 6px;
}
.product{
  background-color: orange;
  position: absolute;
  float: right;
  height: 178px;
  width: 160px;
  right: 0;
  border-radius: 0px 10px 10px 0px;

}
.product:hover{
  opacity: 0.7;
  background-color: black;
  transition:all .5s ease;
  -moz-transition:all .5s ease;
  -webkit-transition:all .5s ease;
  -ms-transition:all .5s ease;
  cursor: pointer;
}

/*===========================*/
/****Стили для промо кода****/
/*=========================*/

.promo {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 80%;
    height: 90px;
    margin-left: 10%;
    margin-top: 15%;
    -webkit-box-shadow: -6px -5px 5px -3px rgba(0,0,0,0.45);
    -moz-box-shadow: -6px -5px 5px -3px rgba(0,0,0,0.45);
    box-shadow: -6px -5px 5px -3px rgba(0,0,0,0.45);
}
.promo input:focus {
    outline: 0;
    background: #111;
    outline: 1px solid whitesmoke;
}
.email {
    padding-left:10px; 
    border: 0;
    color: whitesmoke;
    background: #111;
    float: left;
    position: absolute;
    width: 100%;
    height: 90px;
    font-size: 40px;
}

.button {
    border: 0;
    position: absolute;
    float: right;
    right: 0;
    height: 90px;
    width: 80px;
    background-color: #222;
    color: whitesmoke;
    outline: 1px solid whitesmoke;
    text-align: center;
}
.button:hover {
    background-color: #333;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.45);
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
